* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    background: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg), #18a0ac;
    background-position: left top, right bottom;
    background-repeat: no-repeat;
}